.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.head {
  width: 20vw;
  height: 100vh;
}

.board {
  width: 80vw;
  height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.head > ul {
  display: flex;
  width: 20vw;
  height: 100vh;
  justify-content: space-around;
  background-color:white;
  align-items: center;
  flex-direction: column;
}


.head > ul li {
  list-style-type: none;
  width:20vw;
  height:50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

#hash {
  height: 20vh;
  font-size: 2rem;
}
/* #btn {
  width: 30vw;
  height: 20vh;
  
} */