.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.head{
  width: 30vw;
  height: 100vh;
  /* /* display: flex; */
  /* flex-direction: column; */
}

.board {
  width: 70vw;
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head > ul {
  display: flex;
  width: 30vw;
  height: 100vh;
  justify-content: space-around;
  background-color:darkgray;
  align-items: center;
  flex-direction: column;

}



.head > ul li {
  list-style-type: none;
  width:30vw;
  height:50vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;

}